.row.content {height:100%;

  background-color: #fff;
}
.row.content>.col-sm-9 {height:100%;
  
  background-color: #fff;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  height: 5%;
  background-color: #555;
  color: white;
  padding: 15px;
  margin-bottom: 0px;
}

#chatmessages{
  height: 75%;
  overflow: scroll;
  overflow-x:hidden;
}
.chatpostmessage{height: 22%}
.members{
  height: 90%;
  overflow: scroll;
  overflow-x:hidden;
}

#chatmessages.logedout{
  height: 100%;
}
#chatmessages::-webkit-scrollbar {display: none; }
.members::-webkit-scrollbar {display: none; }

html {height: 99%;}
body {height: 99%;

  background-color: #555;
}
body>div:first-child {height: 95%;}

@media screen and (max-width: 767px) {
  .sidenav {
    height: 15%;
    padding: 15px;
    overflow: scroll;
    overflow-x:hidden;
  }
  .chatpostmessage{height: 25%}
  .sidenav::-webkit-scrollbar {display: none; }
  body>div:first-child {height: 95%;}
  .row.content {height: 85%;} 
}